
/* CSS HSL 
--tiffany-blue: hsla(174, 60%, 73%, 1);
--white: hsla(0, 0%, 100%, 1);
--white-2: hsla(0, 0%, 100%, 1);
--cambridge-blue: hsla(174, 18%, 57%, 1);
--tiffany-blue-2: hsla(173, 54%, 75%, 1);
--background: linear-gradient(0deg, hsla(174, 59%, 73%, 1) 0%, hsla(173, 54%, 75%, 1) 50%, hsla(174, 18%, 57%, 1) 100%);*/
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;}

header{
    background-color: hsl(174, 60%, 73%, 1);
    height: 100px;
    padding: 20px;
    ;
}
.logo {
    float: left;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    
}


.barra{
    float: right;
    padding: 20px;
    
}

.barra ul{
    list-style: none;
}

.barra ul li{
    display: inline-block;
}

.barra a{
    text-decoration: none;
    color: black;
    font-size: 15px;   
    padding: 10px;
    font-weight: bold;
    
    
}
.barra a:hover{
    color: white;
}

main{
    height: 500px;
    width: 100%;
    background-image: url(./Imagenes/fondo.jpg);
    background-size: cover;
    padding: 80px;

}


.seccion1{
    height: 300px;
    background-color:hsl(174, 60%, 73%, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 40px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    
}
h1{
    margin-top: 20px;
   
}
p{
    margin-top: 20px;
}
section{
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

}
h2{
    text-align: center;
    font-weight: bold;
    background-color:hsl(174, 60%, 73%, 1) ;
    padding: 10px;

}


.cuadro{
    padding: 40px;
    border-style:solid;
    border-color: black;
    border-radius: 1px;
    background-color:hsl(174, 60%, 73%, 1) ;
    height: 400px;
    width: 300px;
    text-align: center;
    
   
}
    

.titulo a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding : 20px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
   
 
}

 .titulo a:hover{
    color: white;
 }
.cuadro img{
    height: 200px;
    width: auto;
    padding: 10px;
    
 }
  
    


  .seccion2{
    height: 200px;
    background-color:hsl(174, 60%, 73%, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
  }
  
 .galeria{
    height: auto;
 }
 
    
 
 


footer{
    height: 100px;
    background-color: hsla(174, 60%, 73%, 1);
    padding: 20px;
}
.Contacto{
    text-align: center;
    color: black;
    font-weight: bold;
    
}

.Contacto ul li{
    display: inline-block;
    color: hsla(174, 60%, 73%, 1);
    
}

.Contacto i{
    color: black;
    font-size: 25px;
    padding: 5px;
}
.Contacto a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-decoration-line: underline;
}
.Contacto a:hover{
    color: white;
}


